<%inherit file="base.htm" />

<%block name="title">
	<title>About Colonial</title>
	<meta name="Colonial Heritage Foundation Home Page" content="The Colonial Heritage Foundation promotes actively engaging the mind in history. Miss History class? We got you covered. We are sure to be able to answer any questions you have about colonial history. We will not just tell you, but we will show you!">
</%block>

<%block name="top_banner">
	<div class="top_banner">About Us</div>
</%block>



<%block name="contents">

	   	<div class="row">
            <div class="col-xs-12">
                
             <img id="about_photo" src="${ STATIC_URL }home/media/sign.jpg" alt="The Signing" >

    		</div>
        </div> 


        <div id="text">
	        <h3>The signing of the Constitution. September 17 1787</h3>
	        <p>
	        We the People of the United States, in Order to form a more perfect Union, establish Justice, insure domestic Tranquility, provide for the common defence, promote the general Welfare, and secure the Blessings of Liberty to ourselves and our Posterity, do ordain and establish this Constitution for the United States of America.
	        </p>
	    </div>



		<div class="row">
		   	<div class="col-xs-12">

             <img id="about_photo" src="${ STATIC_URL }home/media/washington.jpg" alt="The Signing" >
                
            </div>
        </div> 

        <div id="text">
	        <h3>General Washington crosses the Delaware. December 26 1776</h3>
	        <p>
	        At about 11 p.m. on Christmas, Washingtons army commenced its crossing of the half-frozen river at three locations. The 2,400 soldiers led by Washington successfully braved the icy and freezing river and reached the New Jersey side of the Delaware just before dawn. The other two divisions, made up of some 3,000 men and crucial artillery, failed to reach the meeting point at the appointed time.
	        </p>
	    </div>


	
</%block>