<%inherit file="/home/templates/base.htm" />

<%block name="top_banner">
	<div class="top_banner">Overdue Items</div>
</%block>



<%block name="contents">

		<div class="text-center">
				<button class="btn overdue btn-success btn-md" id="30" role="button"><h2>30</h2></button>
				<button class="btn overdue btn-success btn-md" id="60" role="button"><h2>60</h2></button>
				<button class="btn overdue btn-success btn-md" id="90" role="button"><h2>90</h2></button>
				<button class="btn overdue btn-primary btn-md" id="email" role="button"><h2>Email</h2></button>
		</div>

		<br>

		<div class="overdue_report">


		</div>

</%block>