<%inherit file="/home/templates/base.htm" />

##This page is used when you need to change the password

<%block name="top_banner">
	<div class="top_banner">Change Password</div>
	<h1>${ users.username }</h1>
	<h3>${ users.security_question }</h3>
</%block>


<%block name="contents">
	%if request.user.has_perm('home.agent'):


		<form method="POST">

			<table id="form">

				${form}

			</table>
			<div id="form_buttons">
				<a href="/user/user/" class="btn btn-info">Back</a>
				<button type="submit" class="btn btn-primary">Submit</button>
				
			</div>
		</form>

	%else:

		<form method="POST">

			<table id="form">

				${form}

			</table>
			<div id="form_buttons">
				<a href="/user/user/${user.id}/" class="btn btn-info">Back</a>
				<button type="submit" class="btn btn-primary">Submit</button>
				
			</div>
		</form>

	%endif


</%block>