<%inherit file="/home/templates/base.htm" />

<%block name="top_banner">
	<div class="top_banner">Password Successfully Changed </div>
	
</%block>


<%block name="contents">
	%if request.user.is_authenticated():
		<div>
			<a href="/home/index/" class="btn btn-info">Home</a>
			<a href="/user/user/" class="btn btn-info">Account/Login</a>
			<button class="show_login_dialog btn btn-primary">Sign In</button>
		</div>
	%else:
		<div>
			<a href="/home/index/" class="btn btn-info">Home</a>
			<button class="show_login_dialog btn btn-primary">Sign In</button>
		</div>
		
	%endif
		

</%block>