<%inherit file="/home/templates/base.htm" />

<%block name="top_banner">
	<div class="top_banner">Inventory</div>
</%block>

<%block name="contents">
	<span class="text-right">
		<a id="non-rentable" class="btn btn-primary">Non-Rentable Items</a>
		<a id="wardrobe" class="btn btn-primary">Wardrobe Items</a>
		<a id="rentable" class="btn btn-primary">Rentable Items</a>
	</span>
	<div id="items_container">
	</div>

	<div class="text-right">
		<a href="/product/items.create/" class="btn btn-success">Add an Item</a>
	</div>

</%block>