<%inherit file="/home/templates/base.htm" />

<%block name="top_banner">
	<div class="top_banner">Edit Rental</div>
</%block>


<%block name="contents">

	%if request.user.has_perm('home.agent'):

		<form method="POST">

			<table id="form">

				${ form }


			</table>
			<div id="form_buttons">
				<button type="submit" class="btn btn-primary">Submit</button>
				<a href="/rental/rentals.edit_fee/${ rental.id }" class="btn btn-info">Edit Fee</a>
			</div>
		</form>

	%else:
	<h1 class="text-center">Down for maintenance</h1>
	%endif


</%block>