<%inherit file="/home/templates/base.htm" />

<%block name="top_banner">
	<div class="top_banner">Choose Rentals for ${ customer.first_name}</div>
</%block>



<%block name="contents">

<div class="search">
	<label for="search_input">Search Product:</label>
    <input id="search_input" type="text">
</div>





    ##These are the params that were passed to this page
	##params['photographs'] = photographs
	##params['rentable'] = rentable
	##params['wardrobe'] = wardrobe
	##params['products'] = products
	##params['customer'] = customer

<div class="row">
<div class="text-center">
<div class="product_dropdown selectpicker" "text-center">
    <h2>Choose Quantity</h2>
    <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
       	<option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
</div>
<h2>Choose Product</h2>
</div>

	<div class="col-md-6 wardrobe"><h2 class="text-center"><small>Wardrobe Items</small></h2>

		%for item in wardrobe:
			<div class="item_container text-center">
				%for photo in photographs:
					%if item.id == photo.id:
						<img src="${ STATIC_URL }product/media/products/${ photo.id}.jpg" />
						%for product in products:
							%if item.id == product.id:
								<div class="text-muted">${ product.name }</div>
								<div class="text-muted">Daily Fee: ${ item.cost }</div>
								<div class="text-muted">Available: ${ item.quantity_on_hand }</div>
								<button data-product_id="${ product.id }" data-photo_id="${ photo.id }" data-item_id="${ item.id }" data-customer_id="${ customer.id }" class="add_rental btn btn-xs btn-warning">Add</button>
							%endif
						%endfor
					%endif
				%endfor
			</div>
		%endfor

	</div>

	<div class="col-md-6 rentable"><h1 class="text-center"><small>Other Items</small></h1>

		%for item in rentable:
			<div class="item_container text-center">
				%for photo in photographs:
					%if item.id == photo.id:
						<img src="${ STATIC_URL }product/media/products/${ photo.id}.jpg" />
						%for product in products:
							%if item.id == product.id:
								<div class="text-muted">${ product.name }</div>
								<div class="text-muted">Daily Fee: ${ item.cost }</div>
								<div class="text-muted">Available: ${ item.quantity_on_hand }</div>
								<div class="text-right">
									<button data-product_id="${ product.id }" data-photo_id="${ photo.id }" data-item_id="${ item.id }" data-customer_id="${ customer.id }"  class="add_rental btn btn-xs btn-warning">Add</a>
								</div>
							%endif
						%endfor
					%endif
				%endfor
			</div>
		%endfor
	</div>
</div>

<div class="text-center">
	<button class="show_rentalcart btn btn btn-primary">Show Cart</button>
</div>
</%block>