.item_container {
display: inline-block;
margin: 12px;
padding: 4px;
border: 2px solid #CCC;
border-radius: 4px;
}

.profile_pic {
	width: 70px;
	height: 70px;
	}

#build_title{
	font-weight: bold;
	font-size: 25px;
}

#build{
	color: green;
}